*.class
.svn
*.swp

# Nanoc files #
*.sassc

# Package Files #
*.jar
*.ear
*.war

# /seqware-queryengine-legacy/
.classpath
.project
.settings
target

/seqware-queryengine-legacy/.classpath
/seqware-queryengine-legacy/.project
/seqware-queryengine-legacy/.settings
/seqware-queryengine-legacy/target

# /seqware-queryengine/.settings/
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.core.resources.prefs

# seqware-webservice documentation
seqware-webservice/docs/webservice-spec/output
seqware-webservice/docs/webservice-spec/tmp

# seqware-queryengine documentation
seqware-queryengine/docs/webservice-spec/output
seqware-queryengine/docs/webservice-spec/tmp

# seqware-distribution documentation
seqware-distribution/docs/site-prototype/output
seqware-distribution/docs/site-prototype/tmp
seqware-distribution/docs/site/output
seqware-distribution/docs/site/tmp

seqware-distribution/docs/site/content/docs/17-plugins.md
seqware-distribution/docs/site/content/docs/17a-modules.md

# seqware testing stuff
seqware-pipeline/*.csv
seqware-pipeline/runnertest.*
seqware-common/dao-test.log*

# Log files
dao-test.log

# vagrant
seqware-vagrant/credentials.settings
seqware-vagrant/.vagrant
seqware-vagrant/vagrant_launch.conf
seqware-vagrant/vagrant_cluster_launch.json
