.b-login a.m-login{background: url(../i/ico/login_ico.gif) no-repeat 13px 11px; }
.b-login-win{ margin-left:537px;}
.b-field{ float:none; clear:none;}
.b-login-content input.m-txt{ margin-bottom:5px;}
.b-chck-field input{ vertical-align:top; margin-top:3px;}	
.b-expander{ position:relative; top:-47px; z-index:100; right:7px;}
.m-inner.m-private .b-col-1 .b-news.m-collapsed{ margin-bottom:0;}
.treeview li{ width:725px;}
.treeview li span{ float:none;}
.treeview .m-question{ vertical-align:middle;}
.b-sbmt-field a, .b-sbmt-field .m-italic{ float:left; margin-right:10px; display:inline;}
.b-sbmt-field a{ float:none;}
.b-sbmt-field a.m-create-account{float:left;}
.m-inner.m-private .b-col-1 .m-downloads.m-collapsed .b-news-footer.m-huge div {height:auto}
