/************************************************************************
* Global Elements
************************************************************************/
* {
	background		: transparent;
	font-family		: Verdana, "Lucida Grande", Arial, Sans-Serif;
	padding			: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family		: "Trebuchet MS", "Lucida Grande", Verdana, Arial, sans-serif;
	font-weight		: bold;
}

input, textarea, select, option, button {
	background		: white;
}

body {
	background		: #AAA58E url(../images/body-bg.gif) repeat-y top center;
	color			: #2C2C28;
	font-size		: normal;
	font-weight		: normal;
	line-height		: 160%;
	margin			: 0;
	text-align		: center;
}

body * {
	text-align		:	left;
}

h1 {
	color			: #FFFFFF;
	display			: inline;
	float			: left;
	font-size		: 165%;
	margin			: 0 0 0 15px;
}

h2 {
	border-bottom	: 3px solid #D2D1BB;
	color			: #E39D24;
	font-size		: 150%;
	margin			: 0 0 15px 0;
}

div.mainContent h3 {
	border-bottom	: 1px solid #E2E2DD;
	color			: #4B7AA5;
	font-size		: 130%;
	margin			: 10 0 7px 0;
}

div.sideBar h3 {
	background		: #F1F0E5 url(../images/headings/h3-sb-bg.gif) no-repeat top right;
	border-bottom	: 1px solid #E7E6DA;
	color			: #4A78A4;
	font-size		: 130%;
	margin			: 0 0 0 2px;
	padding			: 5px 0 0 2px;
}

h4 {
	border-bottom	: 1px solid #E2E2DD;
	color			: #C98000;
	font-size		: 140%;
	font-weight		: normal;
	margin			: 4px 0 4px 0;
}

h5 {
	color			: #2C2C28;
	font-size		: 95%;
	margin			: 0 0 1px 0;
}

h6 {
	color			: #60605A;
	font-size		: 95%;
	font-weight		: normal;
	margin			: 0 0 1px 0;
	text-transform	: uppercase;
}

table {
	width			: 100%;
	margin			: 0 0 20px 0;
	padding			: 0 0 20px 0;
	background		: #FCFBF2;
}

table.processing_steps {
	background		: #FCFBF2;
	font-size		: 95%;
	padding-left	: 1.25em;
	border			: 1px outset #ECDBD2;
}

th {
	margin			: 4px 0 4px 0;
	color			: #C98000;
	font-weight		: normal;
	font-size		: 140%;
	border-bottom	: 1px solid #E2E2DD;

}

/************************************************************************
* Body Link Elements
************************************************************************/
a:link, a:active, a:visited {
	color			: #E18400;
	text-decoration	: none;
}

a:hover {
	color			: #E18400;
	text-decoration	: underline;
}

/************************************************************************
* Structural Elements
************************************************************************/
div.container {
	margin			: 0 auto;
	width			: 940px;
	font-size		: 85%;
	color			: #2C2C28;
}

div.mainContent {
	width			: 710px;
	margin			: 10px 5px 0 5px;
	position		: relative;
}

/************************************************************************
* Header Elements
************************************************************************/
div.topHeader {
	height			: 45px;
	margin			: 0 0 10px 0;
	background		: url(../images/master-head.gif) no-repeat;
	color			: #222222;
}

/************************************************************************
* Miscellaneous Elements
************************************************************************/
div.mainContent p {
	margin			: 0 0 10px 0;
}

div.userError {
	margin			: 0 0 15px 0;
	background		: #FFFFFF;
	color			: #FF0000;
	font-weight		: bold;
}

/************************************************************************
* Simple Inline Table
************************************************************************/

div.inlineTable {
	float			: left;
	background		: #FCFBF2 url(../images/sb-module-bg.gif) no-repeat bottom left;
	width			: 475px;
	margin			: 0 0 20px 0;
	padding			: 0 0 20px 0;
}

div.inlineTable ul {
	list-style-type	: none;
	margin			: 0;
	width			: 475px;
}

div.inlineTable ul li {
	height			: 20px;
	padding			: 0 0 0 5px;
	margin			: 0;
}

/************************************************************************
* Sidebar Elements
************************************************************************/
div.sideBar {
	float			: right;
	width			: 210px;
	margin			: 0;
}

div.sideBar ul {
	list-style-type	: none;
	margin			: 0;
	width			: 210px;
}

div.sideBar ul li {
	height			: 20px;
	padding			: 0 0 0 5px;
	margin			: 0;
}

div.sideBar a:link, div.sideBar a:active, div.sideBar a:visited {
	color			: #E18400;
	text-decoration	: none;
}

div.sideBar a:hover {
	color			: #E18400;
	text-decoration	: underline;
}

div.sbModule {
	background		: #F1F0E5 url(../images/sb-module-bg.gif) no-repeat bottom left;
	margin			: 0 0 20px 0;
	padding			: 0 0 20px 0;
}

/************************************************************************
* Footer Elements
************************************************************************/
div.mainFooter {
	background		: #F1F0E5;
	border-bottom	: 1px solid #D3D2C5;
	border-top		: 1px solid #D3D2C5;
	clear			: both;
	margin			: 25px 0 20px 0;
	width			: 720px;
}

.footer_nav {
	list-style-type	: none;
	margin			: 0;
}

.footer_nav li {
	display			: inline;
	margin			: 0 10px 0 5px;
}

.footer_nav a:link, .footer_nav a:active, .footer_nav a:visited {
	color			: #807F6F;
	text-decoration	: none;
}

.footer_nav a:hover {
	color			: #5F5E52;
	text-decoration	: underline;
}

/************************************************************************
* Navigation Elements
************************************************************************/
.navigation a:link, .navigation a:active, .navigation a:visited {
	color			: #88B1D8;
	font-weight		: bold;
	text-decoration	: none;
}

.navigation a:hover {
	color			: #DFEFFF;
	font-weight		: bold;
	text-decoration	: none;
}

.navigation {
	float			: right;
	list-style-type	: none;
	margin			: 10px 2px 0 0;
}

.navigation li {
	padding			: 0 15px 0 0;
	display			: inline;
}

/************************************************************************
* Universal Form Elements
************************************************************************/

.registration_text {
	border			: 1px solid #959485;
	color			: #222222;
	font-weight		: normal;
	margin			: 0 0 3px 0;
	padding			: 0 0 0 2px;
	width			: 300px;
}

span.registration_disabled {
	color			: #69685F;
}

span.general_text {
	background		: #FFFFFF;
	color			: #60605A;
	font-size		: 95%;
	font-weight		: normal;
	margin			: 0 0 1px 0;
}


/* --------
  The CSS rules offered here are just an example. You can style the 'accordion' in any way you like.
  The styles for the Page Structure are needed just for the purpose of this demo page.
  If you decide to use the CSS rules in 'Accordion' (see below) as a base, 
  be sure to rename the selectors as to satisfy the elements in your site.
 --------- 
* {margin:0; padding:0}
*/
/* --- Page Structure  --- 
html {height:100%}
body {
  background:#fff none;
  color:#000;
  font-family:verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  font-size:76%;
  height:101%;
  line-height:1.6;
  margin:0 auto;
  min-width:600px;
  text-align:center;
  width:100%;
}
#wrapper{
  padding:10px 2.5% 10px;
  margin-bottom:30px;
  text-align:left;
  overflow:hidden
}
#container {
  float:left;
  width:100%;
  margin-right:-19em;
  padding:0 0 1em;
  position:relative;
  min-height:0; 
}
#main{
  margin-right:19em;
  position:relative; 
  min-height:0;
}
#side{
  float:right;
  display:inline;
  width:18em;
  padding-bottom:1.3em;
  position:relative;
  overflow:hidden
}
p {margin: 0 10px 1em}

.clear {clear:both}
*/
/* --- Headings --- 
h1 {font-family:georgia,'times new roman',times,serif; font-size:2.5em; font-weight:normal; color:#cf263d}

h1, h2, h3 {margin-bottom:1em}

h2, h3, h4 a, h5 a {padding:3px 10px}

h2, h3, h4, h5 {font-size:1em}

#main h2 {background-color:#f0f0f0;}

#side, #side h2, #side h3 {background:#000; color:#dedfff}

#side h2 {border-bottom:1px solid #45494f}
*/
/* --- Links --- 
a {padding:1px; border:1px solid #efefef; color:#06c}

a:hover, a:focus, a:active {border-color:#b3c5db; text-decoration:none; outline:0 none}

#side a {border-width:0 0 1px; border-color:#33383f}

#side a, #side a:link, #side a:visited {color:#f0f0f0}

#side a:hover, #side a:active, #side a:focus {background-color:#f0f0f0; color:#000}
*/
/* --- Accordion --- */
/* .js #main .accordion {visibility:hidden}*/

.js #main .accordion {display:none}

.js #side .accordion {display:none}

.accordion {margin:0; padding:0 10px}

.accordion li {list-style-type:none; list-style: none;}

.accordion li.last-child {list-style-type:none}

.accordion ul {list-style-type:none; margin:0; padding:0}

#side ul.accordion ul {list-style-type:none; margin:0; padding:0 0 0 20px; list-style: none;}
#side li.accordion li { list-style-type: none; list-style: none;}

.accordion .outer {border:1px solid #e0e0e0; border-width:0 1px 1px}

.accordion .inner {margin-bottom:0; padding:10px 20px;}

.accordion .inner .inner {padding-bottom:0}

.accordion .h {padding-top:.3em}

.accordion p {margin:0; padding-bottom:1em}

/*  
  Add styles for all links in the 'accordion':
.accordion a {...}
*/    

a.trigger {display:block; padding-left:20px; background-image: url(../images/plus.gif); background-repeat: no-repeat; background-position: 1px 50%;  font-weight:700}

a.trigger.open {background-image: url(../images/minus.gif)}

#main a.trigger {background-color:#f6f6f6}

#main a.trigger.open {border-color:#e0e0e0; background-color:#f0f0f0}

#main a:hover.trigger.open, #main a:focus.trigger.open, #main a:active.trigger.open {border-color:#b3c5db}

.active{font-weight:700; text-decoration:none}



