.m-report-edit { float:right; min-width:10px; padding-right:5px; }

.m-table-report { min-width:745px; margin: 0px 0px; border: 1px solid #daebff;}
.m-table-report td{ min-width: 125px; padding: 7px 10px; border: 1px solid #daebff; color:#333333; }
.m-table-report th{ padding: 7px 10px; font-weight: bold; color:#333333; font-family: Verdana, Arial, Helvetica, sans-serif; }

.b-search-form input{ margin-bottom:0px !important}
.b-search-form .m-block{ float:left; margin-right: 30px;  margin-bottom:13px }
.b-search-form .b-sbmt-field{ float:left; margin-top: 25px; }

.bar { border-width: 0px; border-style: none; border-spacing: 0px; border-color: gray; border-collapse: collapse; margin-bottom: 0px }

.status { height: 30px }
.status.completed { background: url(../images/report/green.png) center center no-repeat !important; }
.status.pending { background: url(../images/report/yellow.png) center center no-repeat !important; }
.status.running { background: url(../images/report/yellow.png) center center no-repeat !important; }
.status.failed { background: url(../images/report/red.png) center center no-repeat !important; }
.status.notstarted { background: url(../images/report/grey.png) center center no-repeat !important; }

.overall .success { background-color:#00CB00 !important; }
.overall .pending { background-color:#ECDE00 !important; }
.overall .failed { background-color:#EC3400 !important; }
.overall .notrun { background-color:#808080 !important; }

.tooltip {
	display:none;
	background:transparent ;
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}

.reportTableHolder {
	height: 504px;
	margin-bottom:26px;
	position: relative;
}


