#asynctree{ width:745px; margin:10px 0;}
.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}


.treeview a{ color:#153b66; font-size:13px;}


span{ position:relative; top:-1px; }
span.m-description{ display:block; color:#6f6f6f; font-size:13px; margin-left:5px; margin-top:10px; margin-bottom:2px; clear:both;}

span.m-link{ display:block; margin-top:10px; margin-left:5px; clear:both;}

.treeview span + span a,
.treeview span + span a.m-question {margin-left:5px}
.treeview span + span.m-link a {margin-left:0}

.treeview .hitarea {
	background: url(../i/ico/treeview-default.gif) 0 -112px no-repeat; 
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
	margin-right:5px;
}

.treeview li.collapsable .hitarea{ background-position:0 -112px;}
.treeview li.expandable .hitarea { background-position: -32px -68px; }
.treeview li.end .hitarea{ background:url(../i/ico/ico-tree-end.gif) no-repeat;}


.treeview li.expandable.last {  background:url(../i/ico/treeview-default-line-short.gif) no-repeat 7px top;}
.treeview li.expandable.last  .hitarea { background-position: -32px -68px;  }
.treeview li.collapsable.last {  background:url(../i/ico/treeview-default-line-short.gif) no-repeat 7px top;}




.treeview li {
float:left;
	margin: 0;
	padding: 8px 0pt 12px 16px;
	 font-family:Arial, Helvetica, sans-serif; color:#333; font-size:14px;
	 clear:both;
}



.treeview li { background: url(../i/ico/treeview-default-line.gif) repeat-y; position: relative;}
.treeview li.lastCollapsable{ background:url(../i/ico/treeview-default-line-short.gif) no-repeat 7px top; padding-bottom:0;}



.treeview li.lastExpandable { background-position: -32px -67px }

.m-question{ margin-left:5px; cursor:pointer;}
.m-question:hover{ text-decoration:none;}


.treeview li{ line-height:16px;}

.treeview li.noline { background: none;}

.noline a{ font-size:15px; }

.listview li { padding: 8px 0 12px 16px; }

.listview a{ font-size:14px; line-height:16px;}

.listview table{border: 1px solid black; width:680px; margin: 8px 0 8px 13px;}

.listview th{border: 1px solid black; padding: 4px; text-align:center}

.listview td{border: 1px solid black; padding: 4px;}

.listview div{width:720px; overflow-x:auto;}

span.wfheader{display:block; clear:both; margin-left:10px}
span.wfbody{display:block; clear:both; margin-left:25px}

@media screen and (-webkit-min-device-pixel-ratio:0){ span.m-link{ margin-top:11px;}}
@media screen and (-webkit-min-device-pixel-ratio:0){ span.m-description{ margin-top:11px;}}

