<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>seqware-queryengine</display-name>
    
    <servlet>
        <servlet-name>Bootstrap</servlet-name>
        <servlet-class>com.github.seqware.queryengine.system.rest.Bootstrap</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  
    <servlet>
        <servlet-name>query-engine</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.github.seqware.queryengine.system.rest;com.wordnik.swagger.jaxrs</param-value>
        </init-param>
        <!-- we cannot hard code this like in the wordnik documentation 
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:8080/seqware-queryengine/api</param-value>
        </init-param>
            this following swagger.config.reader provides a way of reading this information instead
        -->
        <init-param>
            <param-name>swagger.config.reader</param-name>
            <param-value>com.github.seqware.queryengine.system.rest.QueryEngineServiceConfigReader</param-value>
        </init-param>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0</param-value>
        </init-param>
    </servlet>      
    
    <servlet-mapping>
        <servlet-name>query-engine</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>  